VITE_SUPABASE_URL=https://jhwuigxynoxzcoispjyv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impod3VpZ3h5bm94emNvaXNwanl2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA1NjIxMjIsImV4cCI6MjA4NjEzODEyMn0.7QJmu1i2vT_WJqvFMPXK0ZZ3ttOeCkfK9Z7Zs7_qiNs